html {
    width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.table {
    margin: 0 auto;
}

td {
    padding: 15px;
}

@media (min-width: 768px) {
    .search {
        padding: 12px;
    }

    .search input[type="text"] {
        margin-left: 20px;
    }
}

.search input[type="text"] {
    background: #777;
    color: #f5f5f5;
    border: 0 none;
    height: 22px;
    width: 180px;
    padding-left: 3px;
}

.search button[type="submit"] {
    background: #777;
    border: 0 hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: -4px;
}

.table > thead > tr > th {
    padding: 12px;
}

th[id] {
    cursor: pointer;
    white-space: nowrap;
}

th[id] > .leftItem {
    white-space: normal;
}

.leftItem {
    display: inline-block
}

.hiddenRow {
    padding: 0 !important;
    border: 0 !important;
}

.entry {
    padding: 0 8px;
    max-width: 100%;
}

.map {
    width: 100%;
    height: 1000px;
}

table tr > th {
    background-color: #ffffff;
}

table tr:nth-child(4n-3) {
    background-color: #f9f9f9;
}

.my-table-hover > tbody > tr:nth-child(2n+1):hover {
    background-color: #f5f5f5;
}

.accordian-toggle .glyphicon.collapse {
    display: block;
}

.accordian-toggle .glyphicon.collapse:before {
    content: '\e159';
}

.accordian-toggle .glyphicon.collapse.in:before {
    content: '\e160';
}

.accordian-toggle .glyphicon.collapsing {
    transition: unset;
    overflow: unset;
    display: block;
}

.accordian-toggle .glyphicon.collapsing:before {
    content: '\e159';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
    table, tbody, tr, td, th {
        display: block;
    }
}